.portrait-container {
    width: 90%;
    overflow: hidden;
    position: relative;
    margin-top: 170px;
    text-align: left;
    cursor: default;
    margin: 0 auto;
  }
  
  .slick-slide {
    transition: transform 0.5s ease;
  }
  
  .slide {
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    border: none;
    outline: none;
  }
  
  .slick-center .slide img {
    transform: scale(1.1);
    filter: none;
  }
  
  .slick-slide:not(.slick-center) .slide img {
    transform: scale(0.9);
    filter: blur(6px);
    opacity: 0.6;
    height: 500px;
  }
  
  @media (max-width: 768px) {
    .portrait-container {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  
  .slick-slide img {
    height: 170px;
    object-fit: cover;
  }

  .slick-slide:not(.slick-center) .slide img {
    height: 170px;
  }
  
    .slick-center .slide img {
      transform: scale(1.05);
    }
  }
  
  @media (max-width: 480px) {
    .portrait-container {
      width: calc(100% + 40px);
      margin-left: -20px;
      border-radius: 8px;
      font-size: 12px;
    }
  
    .slick-slide img {
        height: 170px;
        object-fit: cover;
      }
    
      .slick-slide:not(.slick-center) .slide img {
        height: 170px;
        
      }
  
    .slick-center .slide img {
      transform: scale(1.02);
    }
  }
  